<!-- About -->

<div id="about" class="tab-content">

    <h1>About ASTRA AI</h1>

    <div class="about-card">

        <h2>🤖 ASTRA AI</h2>

        <p>
            ASTRA AI is a personal desktop AI assistant designed to help users
            with intelligent conversations, voice interaction, and desktop
            automation.
        </p>

        <hr>

        <h3>👨‍💻 Developer</h3>
        <p>Sanvidha </p>
        <br><br>
        <p>B.Sc. Software Engineering Student</p>
          <br> <br>
        <h3>🚀 Version</h3>
        <p>Version 1.0.0</p>
           <br> <br>
        <h3>✨ Features</h3>

        <ul>
            <li>💬 AI Chat Assistant</li>
            <li>🎤 Voice Assistant</li>
            <li>🖥️ Desktop Commands</li>
            <li>👤 Profile Management</li>
            <li>🔒 Security Settings</li>
            <li>🤖 AI Personalization</li>
        </ul>
          <br> <br>
        <h3>🛠️ Built With</h3>

        <ul>
            <li>Python</li>
            <li>Flask</li>
            <li>SQLite</li>
            <li>HTML5</li>
            <li>CSS3</li>
            <li>JavaScript</li>
            <li>Google Gemini API</li>
        </ul>

        <hr>

        <p class="copyright">
            © 2026 ASTRA AI. All Rights Reserved.
        </p>

    </div>

</div>