{% extends "base.html" %}

{% block title %}
Settings
{% endblock %}

{% block css %}
<link rel="stylesheet"
      href="{{ url_for('static', filename='css/settings.css') }}">
{% endblock %}

{% block content %}

<div class="settings-container">

    <h1>⚙ Settings</h1>

    <form action="{{ url_for('settings') }}" method="POST">

        <div class="form-group">

            <label>Full Name</label>

            <input
                type="text"
                name="full_name"
                value="{{ user['full_name'] }}"
                required>

        </div>

        <div class="form-group">

            <label>Username</label>

            <input
                type="text"
                value="{{ user['username'] }}"
                readonly>

        </div>

        <div class="form-group">

            <label>Email</label>

            <input
                type="email"
                name="email"
                value="{{ user['email'] }}"
                required>

        </div>

        <div class="form-group">

            <label>Age</label>

            <input
                type="number"
                name="age"
                value="{{ user['age'] }}"
                required>

        </div>

        <button type="submit">
            Save Changes
        </button>

    </form>

</div>

{% endblock %}