{% extends "base.html" %}

{% block title %}
Voice Assistant
{% endblock %}

{% block css %}
<link rel="stylesheet"
href="{{ url_for('static', filename='css/voice.css') }}">
{% endblock %}

{% block content %}

<div class="voice-container">

    <h1>🎤 ASTRA Voice Assistant</h1>

    <p id="status">
        Click the microphone to start listening
    </p>
    <div id="replyBox"> </div>

    <div class="mic-circle" id="micButton">

        

    </div>

</div>

{% endblock %}

{% block script %}

<script src="{{ url_for('static', filename='js/voice.js') }}"></script>

{% endblock %}